<div class="container">

        <div class="col-md-9">
         <table class="table table-list-search">

                    <thead>
                        <tr>
                            <th>Typ</th>
                            <th>Model</th>
                            <th>Opis</th>
                            <th>Gwarancja</th>
                            <th>Priorytet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @requests.each do |request| %>
                        <tr>
                            <td><%= request.device_type %></td>
                            <td><%= request.model %></td>
                            <td><%= request.description %></td>
                            <td><%= request.warranty %></td>
                            <td><%= request.priority %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>   
        </div>
    </div>
</div>