<div class="user_list">

  <row>
    <div class=="form-group col-md-12">
      <% if flash[:success] %>
      <div class="alert alert-success" role="alert">Zgłoszenie zostało przyjęte</div>
      <% end %>

      <% if flash[:fail] %>
      <div class="alert alert-danger" role="alert">Błąd. Zgłoszenie zostało odrzucone</div>
      <% end %>
    </div>
  </row>

  <row>
    <div class="col-md-6">
      <%= simple_form_for @request do |f| %>

      <%= f.input :device_type, label: "Typ sprzętu", collection: ["Laptop", "Smartphone", "Desktop"], include_blank: false %>
      <%= f.input :model_name, label: "Nazwa modelu" %>
      <%= f.input :description, label: "Opis" %>
      <%= f.input :priority, label: "Priorytet", collection: ["Niski", "Wysoki", "Awaryjny"], include_blank: false %>
      <%= f.input :warranty, label: "Gwarancja", wrapper_html: {class: "col-md-6"} %>
      <%= f.button :submit, "Złożyć" %>
    </div>

    <div class="col-md-6 req-right-clm">
      <%= f.input :address_id, label: "Adres", collection: @addresses, include_blank: false, wrapper_html: {id: "address-select"} %>
      <div class="control-group address-block">
        <%= simple_fields_for :address do |a| %>
        <%= a.input :name, label: "Imię", input_html: {value: @name}, wrapper_html: {class: "col-md-6"} %>
        <%= a.input :surname, label: "Nazwisko", input_html: {value: @surname}, wrapper_html: {class: "col-md-6"} %>
        <%= a.input :company, label: "Firma", wrapper_html: {class: "col-md-6"} %>
        <%= a.input :phone, label: "Telefon", wrapper_html: {class: "col-md-6"} %>
        <%= a.input :zip, label: "Kod pocztowy", wrapper_html: {class: "col-md-6"} %>
        <%= a.input :city, label: "Miejscowość", wrapper_html: {class: "col-md-6"} %>
        <%= a.input :street, label: "Ulica", wrapper_html: {class: "col-md-6"} %>
        <%= a.input :apartment, label: "Dom/Mieszkanie", wrapper_html: {class: "col-md-6"} %>
      </div>
    </div>

    <% end %>

    <% end %>

  </row>    </row>
        

      </div>


      <!-- Right column -->

      <div class="col-md-6" id="req-right-clm">

        <!-- Adress -->
        <div class = "form-group col-md-12">
          <label for="select-address">Adres</label>
          <select id="address-select" name="address_select" class="form-control">

            <% @addresses.each do |address| %>
            <option value = <%= address.id %> >
              <%= "#{address.name} #{address.surname}, #{address.zip}, #{address.city}, #{address.street} #{address.apartment}, tel. #{address.phone}" %>
            </option>
            <% end %>

            <option>Nowy...</option>
          </select>
        </div>


        <div class="control-group address-block">

          <!-- Name -->
          <div class="form-group col-md-6">
            <label>Imię</label>
            <input class="form-control" name="address[name]" value=<%= @user.name %> ></input>
          </div>
          <!-- Surname -->
          <div class="form-group col-md-6">
            <label>Nazwisko</label>
            <input class="form-control" name="address[surname]" value=<%= @user.surname %> ></input>
          </div>


          <!-- Company -->
          <div class="form-group col-md-6">
            <label for="company">Firma</label>
            <input class="form-control" name="address[company]" value="" ></input>
          </div>
          <!-- Phone -->
          <div class="form-group col-md-6">
            <label for="phone">Telefon</label>
            <input class="form-control" name="address[phone]" value="" ></input>
          </div>
          <!-- Zip -->
          <div class="form-group col-md-6">
            <label for="zip">Kod pocztowy</label>
            <input class="form-control" name="address[zip]" value="" ></input>
          </div>
          <!-- City -->
          <div class="form-group col-md-6">
            <label for="city">Miejscowość</label>
            <input class="form-control" name="address[city]" value="" ></input>
          </div>
          <!-- Street -->
          <div class="form-group col-md-6">
            <label for="street">Ulica</label>
            <input class="form-control" name="address[street]" value="" ></input>
          </div>
          <!-- Apartment -->
          <div class="form-group col-md-6">
            <label for="apartment">Dom/Mieszkanie</label>
            <input class="form-control" name="address[apartment]" value"" ></input>
          </div>

        </div>

      </div>

    </row>

  </form>

</div>