<div class="user_list">

  <row>
    <div class=="form-group col-md-12">
      <% if flash[:success] %>
      <div class="alert alert-success" role="alert">Zgłoszenie zostało przyjęte</div>
      <% end %>

      <% if flash[:fail] %>
      <div class="alert alert-danger" role="alert">Błąd. Zgłoszenie zostało odrzucone</div>
      <% end %>
    </div>
  </row>

  <form role="form" action= <%= requests_path %> method="post" id="request-form" autocomplete="off">

    <row>

      <!-- Left column -->
      <div class="col-md-6">

        <div class = "form-group">
          <label for="device-type">Typ sprzętu</label>
          <select name="request[device_type]" class="form-control">
            <option>Laptop</option>
            <option>Smartphone</option>
            <option>Desktop</option>
          </select>
        </div>
        <div class="form-group">
          <label for="model">Model</label>
          <input class="form-control" name="request[model]" placeholder="Nazwa modelu"></input>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea name="request[description]" class="form-control" rows="8"></textarea>
        </div>
        <row>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input name="request[warranty]" type="checkbox"> Gwarancja
              </label>
            </div>
          </div>
          <div class="col-md-2 form-control-static">
            <label for="priority">Priorytet:</label>
          </div>
          <div class="col-md-4">
            <select name="request[priority]" class="form-control">
              <option>Niski</option>
              <option>Wysoki</option>
              <option>Awaryjny</option>
            </select>
          </div>

        </row>

        <row>
          <div class="col-md-12">
            <button type="submit" class="btn btn-default" id="btn-request">Złożyć</button>
          </div>
        </row>
        

      </div>


      <!-- Right column -->

      <div class="col-md-6" id="req-right-clm">

        <!-- Adress -->
        <div class = "form-group col-md-12">
          <label for="select-address">Adres</label>
          <select id="address-select" name="address_select" class="form-control">

            <% @addresses.each do |address| %>
            <option value = <%= address.id %> >
              <%= "#{address.name} #{address.surname}, #{address.zip}, #{address.city}, #{address.street} #{address.apartment}, tel. #{address.phone}" %>
            </option>
            <% end %>

            <option>Nowy...</option>
          </select>
        </div>


        <div class="control-group address-block">

          <!-- Name -->
          <div class="form-group col-md-6">
            <label>Imię</label>
            <input class="form-control" name="address[name]" value=<%= @user.name %> ></input>
          </div>
          <!-- Surname -->
          <div class="form-group col-md-6">
            <label>Nazwisko</label>
            <input class="form-control" name="address[surname]" value=<%= @user.surname %> ></input>
          </div>


          <!-- Company -->
          <div class="form-group col-md-6">
            <label for="company">Firma</label>
            <input class="form-control" name="address[company]" value="" ></input>
          </div>
          <!-- Phone -->
          <div class="form-group col-md-6">
            <label for="phone">Telefon</label>
            <input class="form-control" name="address[phone]" value="" ></input>
          </div>
          <!-- Zip -->
          <div class="form-group col-md-6">
            <label for="zip">Kod pocztowy</label>
            <input class="form-control" name="address[zip]" value="" ></input>
          </div>
          <!-- City -->
          <div class="form-group col-md-6">
            <label for="city">Miejscowość</label>
            <input class="form-control" name="address[city]" value="" ></input>
          </div>
          <!-- Street -->
          <div class="form-group col-md-6">
            <label for="street">Ulica</label>
            <input class="form-control" name="address[street]" value="" ></input>
          </div>
          <!-- Apartment -->
          <div class="form-group col-md-6">
            <label for="apartment">Dom/Mieszkanie</label>
            <input class="form-control" name="address[apartment]" value"" ></input>
          </div>

        </div>

      </div>

    </row>

  </form>

</div>